<h1>😎 hello world 😎</h1>

<%= "I LOVE " + "RUBY"%>

<h1>
  <%= 1 + 2 %>
</h1>

<div> 1 + 2</div>

<% catlady = false%>
  <% if catlady == true %>
  <p>You are a crazy cat lady!</p>
  <% else %>
  <p>Join Adielle's cat hating army</p>
  <% end %>
  
  <% comments = ['Your pictures are so cute' , 'love the dog!!' , 'Miss You'] %>
  <ol>
    <% comments.each do |comment| %>
    <li></li><% comment %></li>
    <% end %>
  </ol>